body {
    font-family: monospace;
    color: white;
    overflow: hidden;
    margin: 0;
    background-color: black;
}
#safe-area {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /*width: 100%;
    height: 100%;*/
    overflow: hidden;
    margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    height: 100%;

    display: flex;
    text-align: left;
    flex-direction: column;
    touch-action:none;
    pointer-events: none;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
@supports (padding-top: env(safe-area-inset-top)) {
    #safe-area {
        --safe-area-inset-top: env(safe-area-inset-top);
        height: calc(100% + var(--safe-area-inset-top));
    }
}
@media (display-mode: fullscreen) {
    #safe-area {
        height: 100%;
    }
}

#overlay-ui {
    margin-left: 1em;
}
#canvas-container {
    width: 100%;
    height: 100%;
}
#canvas {
    width: 100%;
    height: 100%;
    display: block;
}
#planets {
    touch-action: auto;
    pointer-events: auto;
    float:left;
    margin-left: 1em;
}
.planet:hover {
    text-decoration: underline;
    cursor: pointer;
}
#instructions {
    display: flex;
    justify-content:left;
    margin-right: 2em;
    margin-left: 2em;
}
#instructions p {
    margin-right: 0.5em;
}
#actions {
    display: flex;
    justify-content:left;
}
#delete {
    margin-right: 3em;
    margin-left: 3em;
}