body {
    font-family: monospace;
    color: white;
    overflow: hidden;
    margin: 0;
    background-color: black;
}
#safe-area {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /*width: 100%;
    height: 100%;*/
    overflow: hidden;
    margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    height: 100%;

    display: flex;
    text-align: left;
    flex-direction: column;
    touch-action:none;
    pointer-events: none;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
@supports (padding-top: env(safe-area-inset-top)) {
    #safe-area {
        --safe-area-inset-top: env(safe-area-inset-top);
        height: calc(100% + var(--safe-area-inset-top));
    }
}
@media (display-mode: fullscreen) {
    #safe-area {
        height: 100%;
    }
}

#overlay-ui {
    margin-left: 1em;
    height: 100%;
}
#canvas-container {
    width: 100%;
    height: 100%;
}
#canvas {
    width: 100%;
    height: 100%;
    display: block;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    touch-action:none;
}
#planets {
    pointer-events: auto;
    /* float:left; */
    margin-left: 1em;
    margin-right: 2em;
    right: 0px;
    gap: 1em;
    display: flex;
    justify-content: space-between;
}
.planet {
    border-style: dotted;
    border-width: 2px;
    border-color:white;
    flex-grow: 1;
    width: 10em;
    text-align: center;
}
.planet:hover {
    text-decoration: underline;
    cursor: pointer;
}
#instructions {
    display: flex;
    justify-content:left;
    margin-right: 2em;
    margin-left: 1em;
    margin-top: 1em;
}
#time {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.instructionBlock {
    width: 33%;
    margin-top: 0px;
}
#actions {
    position: absolute;
    display: flex;
    justify-content:right;
    bottom: 0;
    right: 46px;
    font-size: 0.8em;
    color: gray;
}
#actions p {
    margin-left: 1rem;
}
#version {
    position: absolute;
    bottom: 0;
    left:0;
    margin:0.5em;
    font-size: 0.8em;
    color: gray;
}


.slider {
    pointer-events: auto;
    width: calc(100% - 1em);
    margin-left: 0.5em;
    margin-right: 0.5em;

    -webkit-appearance: none;  /* Override default CSS styles */
    -moz-appearance: none;
    appearance: none;
    height: 0.1rem; /* Specified height */
    background: white; /* Grey background */
    color: white;
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.slider:hover {
  opacity: 0.7; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 1rem; /* Set a specific slider handle width */
  height: 1rem; /* Slider handle height */
  background: white;
  cursor: pointer; /* Cursor on hover */
  border-radius: 0;
  border-width: 0.1rem;
  border-color: white;
}

.slider::-moz-range-thumb {
  width: 1rem; /* Set a specific slider handle width */
  height: 1rem; /* Slider handle height */
  background: white;
  cursor: pointer; /* Cursor on hover */
  border-radius: 0;
  border-width: 0.1rem;
  border-color: white;
}

#timeHolder {
    width: 100%;
}

#timeDesc {
    display: inline;
}

#currentTime {
    right: 0.5rem;
    position: relative;
    width: 6rem;
    color: gray;
    display: inline;
    float:right;
    text-align: right;
}

#timeline {
    right:0;
    width: calc(100% - 2em);
    height: 70vh;
    bottom: 46px;
    position: absolute;
}

#timelineStrings {
    display: inline-block;
    position:fixed;
    right:0;
    width: 82px;
    /*background-color: rgba(255,255,255,0.5);*/
    height: inherit;
    border: 0.1rem solid white;
    background-color: rgba(0,0,0,0.3);
}
#timelineStringsContainer {
    display: block;
    height: calc(100% - 1.5em);
}
#timelineNotes {
    float:right;
    width: 100%;
    height: 100%;
    padding-right: 32px;
    position: relative;
    /*background-color: rgba(128,128,128,0.5);*/
}
.timelineNote {
    animation-name: moveLeft;
    animation-duration: 4.5s;
    background-color: white;
    height: 1.25em;
    font-size: 1.5em;
    width: auto;
    display: inline;
    color: black;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
    position: absolute;
    float: right;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    right:0%;
    top:100%;
    will-change: transform, right;
}
.timelineString {
    background-image: linear-gradient(to right, red , yellow);
    height: 2.4em;
    /* top:50%; */
    position:absolute;
    text-align: center;
    animation-name: getPlayed;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    will-change: opacity;
    width: 100%;
}
.timelineStringFrequency {
    text-align: left;
    height: 1.5em;
}
#stringsTitle {
    position: absolute;
    top: -1.5em;
    text-align: center;
    width: 100%;
}
.stringDisplay {
    display: inline;
}

@keyframes moveLeft {
    from {
        right: 0%;
    }
    to {
        right: 100%;
    }
}

@keyframes getPlayed {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.7;
    }
}

.hidden {
    display: none;
}